<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
      <add name="cs" connectionString="Server=localhost; Database=bd_inventario2; Userid=root; Password=dm900494665; Allow Zero Datetime=True; CHARSET=latin1"/> <!--158.30.27.252-->
    </connectionStrings>
</configuration>